doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Picture Scramble
    link(rel='stylesheet', href='/style.css')
  body
    .container
      h1 Picture Scramble Game
      button#shuffle Shuffle!
      button#reset Reset
    
    .container
      #box
        img(src='images/im2.jpg')
    
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/lodash/lodash.js')
    script(src='/main.js')
    
          
