doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Picture Scramble
    link(rel='stylesheet', href='/style.css')
  body
    .container
      h1 Picture Scramble Game
      button#start Shuffle!
      button#reset Reset
    
    .container
      #box
        img(src='http://tharunaya.co.uk/mx0125/wallpaper/image_wallpaper/20053098165_Iron--Man.gif')
    
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/lodash/lodash.js')
    script(src='/main.js')
    
          
